apiVersion: v1
kind: Service
metadata:
  name: {{ include "keycloak-ispn.fullname" . }}-keycloak
  labels:
    {{- include "keycloak-ispn.labels" . | nindent 4 }}
spec:
  type: {{ .Values.kc.service.type | default "ClusterIP" }}
  ports:
    - port: {{ .Values.kc.service.port | default 8080 }}
      targetPort: {{ .Values.kc.service.containerPort | default 8080 }}
      protocol: TCP
      name: http
      {{- if eq .Values.kc.service.type "NodePort" }}
      nodePort: {{ .Values.kc.service.nodePort | default 30080 }}
      {{- end }}
  selector:
    {{- include "keycloak-ispn.kc.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "keycloak-ispn.fullname" . }}-ispn
  labels:
    {{- include "keycloak-ispn.ispn-labels" . | nindent 4 }}
spec:
  type: {{ .Values.ispn.service.type | default "ClusterIP" }}
  ports:
    - port: {{ .Values.ispn.service.port | default 11222 }}
      targetPort: {{ .Values.ispn.service.containerPort | default 11222 }}
      protocol: TCP
      name: hotrod
      {{- if eq .Values.ispn.service.type "NodePort" }}
      nodePort: {{ .Values.ispn.service.nodePort | default 30081 }}
      {{- end }}
  selector:
    {{- include "keycloak-ispn.ispn.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "keycloak-ispn.fullname" . }}-ispn-headless
  labels:
    {{- include "keycloak-ispn.ispn-labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: 11222
      targetPort: 11222
      protocol: TCP
      name: hotrod
  selector:
    {{- include "keycloak-ispn.ispn.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "keycloak-ispn.fullname" . }}-ispn-ping
  labels:
    {{- include "keycloak-ispn.ispn-labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: 8888 # Assuming this is the port required for ping; adjust if necessary
      targetPort: 8888
      protocol: TCP
      name: ping
  selector:
    {{- include "keycloak-ispn.ispn.selectorLabels" . | nindent 4 }}
